<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      
      <div class="mb-3">
        <label class="form-label" for="listing-title">Title</label>
        <input id="listing-title" class="form-control" name="listing[title]" value="<%= listing.title %>" type="text" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <br />

      <div class="mb-3">
        <label class="form-label" for="listing-description">Description</label>
        <textarea id="listing-description" class="form-control" name="listing[description]" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description should be valid</div>
      </div>
      <br />
      <div class="mb-3">
        Original Image: <br />
        <img src="<%= listing.image.url %>" alt="listing image" style="width: 200px; height: 200px;" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="listing-image">Uplaod Image</label>
        <input class="form-control" name="listing[image]" type="file"  />
      </div>
      <br />

      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label" for="listing-price">Price</label>
          <input id="listing-price" class="form-control" name="listing[price]" value="<%= listing.price %>" type="number" required />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <br />

        <div class="mb-3 col-md-8">
          <label class="form-label" for="listing-country">Country</label>
          <input id="listing-country" class="form-control" name="listing[country]" value="<%= listing.country %>" type="text" required />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>
      <br />

      <div class="mb-3">
        <label class="form-label" for="listing-location">Location</label>
        <input id="listing-location" class="form-control" name="listing[location]" value="<%= listing.location %>" type="text" required />
        <div class="invalid-feedback">Location should be valid</div>
      </div>
      <br />

      <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    <br /><br />
  </div>
</div>


